.login {
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: #00000099;
  }

  &__card {
    padding: 32px;
    width: 36%;
    background: #ffffff33;
    border-radius: 16px;
    box-shadow: 0 4px 12px #3f3f3f99;
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
  }

  &__form {
    width: 74%;
    margin-inline: auto;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    width: 40%;
    margin-top: 2.4rem;
  }
}

.logo {
  margin-inline: auto;
  margin-bottom: 24px;
  display: flex;
}

.success_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  .success_animation {
    width: 20%;
    padding-block: 36px;
  }
  p {
    text-align: center;
    padding: 16px;
    color: var(--mui-palette-text-contrast);
  }
}

.forgot_password {
  color: var(--mui-palette-text-contrast);
  margin-left: auto;
  margin-top: 12px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.card__heading {
  color: var(--mui-palette-text-contrast);
  text-align: center;
}

.spinner_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validation_error_text {
  text-align: center;
  padding: 16px;
  color: var(--mui-palette-text-contrast);
}
