.container {
  height: 100%;
  background-color: var(--mui-palette-background-paper);
  width: 100%;
}

.title {
  color: var(--mui-palette-text-legend);
  font-weight: 400;
  font-size: 13.5px;
  padding: 13.5px;
  padding-bottom: 0px;
}
