.statusChip {
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 8px;
  height: 24px;
}

.statusChipIcon {
  width: 14px;
  height: 14px;
  margin-left: 4px !important;
}

.statusChipText {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
